@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}
*---------------------------Preloader------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #800080;
  border-top-color: #ffdf00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 2s linear infinite;
  animation: animate-preloader 2s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section{
   position: relative;
   min-height: 100vh;
   background: linear-gradient(to right, #800080, #6C5CE7);
   display: flex;
   justify-content: center;
   padding: 20px;
}
section .container{
  position: relative;
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 30px;
}
.title{
    text-align: center;
    color: purple;
    margin: 20px 0;
    font-weight: 900;
}
.content {
    font-size: 15px;
    line-height: 30px;
    margin: 10px;
}

/*-------------Scroll bar------------------*/

 ::-webkit-scrollbar {
    width: 20px;
    height: 6px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: inset 0 0 15px #f0f0f0;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(purple, #6C5CE7);
